@font-face {
  font-family: "Arame";
  src: url("/static/fonts/arame/arameregular.woff2") format("woff2"),
       url("/static/fonts/arame/arameregular.woff") format("woff"),
       url("/static/fonts/arame/arameregular.ttf") format("truetype");
  font-weight: "normal";
  font-style: "normal";
  font-display: block;
}

@font-face {
  font-family: "PragmataPro";
  src: local("PragmataPro"),
       url("/static/fonts/essential-pragmatapro/essentialpro.woff2") format("woff2"),
       url("/static/fonts/essential-pragmatapro/essentialpro.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
  font-display: swap;
}

